# Environment variables (ສຳຄັນທີ່ສຸດ!)
# ຫ້າມ Comment ແຖວນີ້ເດັດຂາດ
.env

# Virtual environment
.venv/
venv/
*.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Generated Databases
db_vector/      # Vector database
*.db            # SQLite database (ເຊັ່ນ legal_ai.db)
*.sqlite3

# IDE specific files
.vscode/
.idea/