fastapi
uvicorn
python-dotenv
python-multipart
httpx

SQLAlchemy

langchain
langchain-community
sentence-transformers
chromadb

pypdf
python-docx
docx2txt

annotated-types
anyio
certifi
charset-normalizer
click
colorama
coverage
diskcache
filelock
fsspec
greenlet
h11
httpcore
httpx
huggingface-hub
idna
iniconfig
Jinja2
joblib
llama_cpp_python
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
pluggy
pydantic
pydantic_core
Pygments
pytest
pytest-cov
PyYAML
regex
requests
safetensors
scikit-learn
scipy
setuptools
sniffio
starlette
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
urllib3