fastapi
uvicorn
python-dotenv
python-multipart

SQLAlchemy

langchain-google-genai
langchain
langchain-community
langchain_core
sentence-transformers
chromadb

pypdf
python-docx
docx2txt

annotated-types
anyio
certifi
charset-normalizer
click
colorama
coverage
diskcache
filelock
fsspec
greenlet
h11
httpcore
httpx
huggingface-hub
idna
iniconfig
Jinja2
joblib
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
pluggy
pydantic
pydantic_core
Pygments
PyYAML
regex
requests
safetensors
scikit-learn
scipy
setuptools
sniffio
starlette
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
urllib3